# GEANT4 files
*.root

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# CMAKE Build files
build
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt

# OS-X Ignore
.DS_Store
.AppleDouble
.LSOverride
Icon

# VIM 
*.s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~
