# GEANT4 files
*.root

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# CMAKE Build files
build*
GNU*
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt

# OS-X Ignore
.DS_Store
.AppleDouble
.LSOverride
Icon

# VIM 
*.s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~
# Ignoring Speficfied Output Files
LightQuenching/*.txt
LightQuenching/*.csv
LightValidation/BirksConstant/Birks_*.txt
LightValidation/GS20Calibration/*.csv
LightYeildEDep/*.csv
#	MCNPXRPMModels/
#	RangeSim/README
#	RangeSim/TestEm1.in
#	RangeSim/TestEm1.out
#	SecElectronDistribution/
#	WLSScintBar/
nothing added to commit but untracked files present (use "git add" to track)
